body {
    background: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
 
}

div {
    box-sizing: border-box;
}

header{
    background: white;
    padding: 10px;
}

header h1 {
    margin: 0;
}

.post {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
   
}

div.post img {
    width: 100%;
    height: auto;
    display: block;
}

div.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.post .post-header div h2.post-title {
    font-size: 15px; 
}

div.post .post-header div:first-child {
    display: flex;
    align-items: center;
    width: auto;
    padding-left: 20px;
}

div.post .post-header div:last-child {
    display: inline-block;
    width: 20%;
    padding: 10px;
    padding-right: 20px;
    text-align: right;
}

div.post .icons {
    display: flex;
    justify-content: space-between;
    padding: 1.3em;
    padding-left: 0.8em;
}

div.post .icons div:first-child {
    display: flex;
}

div.post .icons div:last-child {
    display: flex;
}

div.post h2, div.post p {
    padding: 10px;
    margin: 0;
}

div.container {
    width: 600px;
    margin: auto;
}